<%= error_messages_for 'aambito' %>

<!--[form:aambito]-->
<p><label for="aambito_descripcion">Descripcion</label><br/>
<%= text_field_ayuda 'aambito', 'descripcion'  %></p>

<!--[eoform:aambito]-->

