<div class="barra">
	<div class="barra_cerrar" onclick="javascript:cerrar();"><a href="#" class="barra_enlace">Cerrar</a></div>
</div>

<% for column in Aambito.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @aambito.send(column.name) %>
</p>
<% end %>

<div class="barra">
	<div class="barra_cerrar" onclick="javascript:cerrar();"><a href="#" class="barra_enlace">Cerrar</a></div>
</div>
