<%= error_messages_for 'aagestion' %>

<!--[form:aagestion]-->
<p><label for="aagestion_descripcion">Descripcion</label><br/>
<%= text_field_ayuda 'aagestion', 'descripcion'  %></p>

<!--[eoform:aagestion]-->

