<%= error_messages_for 'limitacion' %>

<!--[form:limitacion]-->
<p><label for="limitacion_descripcion">Descripcion</label><br/>
<%= text_area_ayuda 'limitacion', 'descripcion'  %></p>

<!--[eoform:limitacion]-->

