<%= error_messages_for 'bibliografia' %>

<!--[form:bibliografia]-->
<p><label for="bibliografia_uri">Uri</label><br/>
<%= text_field_ayuda 'bibliografia', 'uri'  %></p>

<p><label for="bibliografia_descripcion">Descripci&oacute;n</label><br/>
<%= text_area 'bibliografia', 'descripcion', :rows => 3, :cols => 70  %></p>

<!--[eoform:bibliografia]-->

