<div class="post">


<h1><a href="#">Ejecuci&oacute;n de la implementaci&oacute;n: <%=h @key %></a></h1>

<div class="descr"> por <%= image_tag 'author.gif'%> motor de ejecuci&oacute;n </div>

	<div class="entry">

	<p><%= @estado %></p>

	</div>

</div>
