<%= error_messages_for 'aaobjetivo' %>

<!--[form:aaobjetivo]-->
<p><label for="aaobjetivo_descripcion">Descripcion</label><br/>
<%= text_field_ayuda 'aaobjetivo', 'descripcion'  %></p>

<!--[eoform:aaobjetivo]-->

