<% for column in Ayuda.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ayuda.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ayuda %> |
<%= link_to 'Back', :action => 'list' %>
