<%= error_messages_for 'aaplicacion' %>

<!--[form:aaplicacion]-->
<p><label for="aaplicacion_descripcion">Descripcion</label><br/>
<%= text_field_ayuda 'aaplicacion', 'descripcion'  %></p>

<!--[eoform:aaplicacion]-->

