<%= error_messages_for :user %>

<% form_for :user do |f| -%>
<p>
<label for="login">Login</label>
<%= f.text_field :login %>
</p>
<p>
<label for="email">Email</label>
<%= f.text_field :email %>
</p>

<p>
<label for="password">Password</label>
<%= f.password_field :password %>
</p>
<p>
<label for="password_confirmation">Repite Password</label>
<%= f.password_field :password_confirmation %>
</p>

<br/>
<br/>
<br/>
<p><%= submit_tag 'Crear Cuenta', :class=> 'boton' %></p>
<% end -%>
