
<div class="barra">
	<div class="barra_cerrar" onclick="javascript:cerrar();"><a href="#" class="barra_enlace">Cerrar</a></div>
</div>

<% for column in Iparametro.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @iparametro.send(column.name) %>
</p>
<% end %>


<div class="barra">
	<div class="barra_cerrar" onclick="javascript:cerrar();"><a href="#" class="barra_enlace">Cerrar</a></div>
</div>
